#colId {
    width: 10px;
}

#colCliente {
    width: 10px;
}

#colTitle {
    width: 10px;
}

#colStatusDaQuestao {
    width: 10px;
}

#colAtribuida {
    width: 10px;
}

#colDescricaoDemanda {
    width: 10px;
}

#colModified {
    width: 10px;
}