.wb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0px !important;
}

.btng {
    border-width: 3px !important;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    flex-direction: row;
}

.th_filter {
    border: 1px solid transparent;
    &:hover {
        border: 1px solid #AAA;
    }
}

.fs {
    &_12px {
        font-size: 12px;
    }
}

.col {
    // text-align: center;
    overflow: hidden;
    // border-left: 1px solid white;
    // border-right: 1px solid white;
    &_Attachments {
        min-width: 100px;
        width: 120px;
    }
    &_Id {
        width: 85px;
        overflow: hidden;
    }
    &_Cliente {
        width: 100px;
    }
    &_Bug {
        width: -moz-fit-content;
        width: fit-content !important;
        overflow: hidden;
    }
    &_Modified {
        min-width: 100px;
    }
    &_EmailCliente {
        min-width: 100px;
    }
}

#colCliente {
    width: 10px;
}

#colTitle {
    width: 10px;
}

#colStatusDaQuestao {
    width: 10px;
}

#colAtribuida {
    width: 10px;
}

#colDescricaoDemanda {
    width: 10px;
}

#colModified {
    width: 10px;
}

.w-5 {
    width: 5% !important
}

.w-10 {
    width: 10% !important
}

.w-15 {
    width: 15% !important
}

.w-85 {
    width: 85% !important
}

.w-90 {
    width: 90% !important
}

.w-95 {
    width: 95% !important
}

.filterBadge {
    line-height: 1em;
    border: 1px solid #CCC;
    &>div {
        padding: 2px 1px 1px 10px;
    }
    &_Value {
        padding-top: 10px;
        color: #EEE;
        line-height: 1.1em;
        margin-right: 10px;
    }
    &_Field {
        padding-left: 5px;
        color: #CCC;
        font-size: 13px;
    }
    &_Close {
        font-size: 16px !important;
    }
}

.text_normal {
    text-transform: initial !important;
}


/* Fix table head */

.tableFixHead {
    overflow: auto;
    height: 800px !important;
}

.tableFixHead thead {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0 !important;
}


/* Just common table stuff. */

.table_chamados {
    border-collapse: collapse;
    width: 100%;
}