.search {
    &_bar {
        width: 96%;
        height: 60px;
        background-color: #444;
        padding: 10px 15px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 9px 4px;
    }
    &_icon {
        color: #EEE;
        border-right: 0px;
        margin-right: -2px;
        margin-bottom: 1px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 5px inset, rgba(0, 0, 0, 0.23) 0px 2px 2px inset;
        transition: all .1s linear;
        cursor: pointer;
        &:active {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
            transition: all .05s linear;
        }
    }
    &_text {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 5px inset, rgba(0, 0, 0, 0.23) 0px 2px 2px inset;
        border: 0;
        width: 100%;
        color: white;
        transition: all .1s linear;
        padding: 6px 20px;
        background-color: transparent;
        &:focus-visible {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
            border: 0;
            outline: 0;
            transition: all .1s linear;
        }
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #CCC;
            opacity: 1;
            /* Firefox */
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #CCC;
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #CCC;
        }
    }
}

.card {
    &_img {
        -webkit-background-clip: border-box;
        background-clip: border-box;
        background-color: #EEE;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 20px;
        &>img {
            object-fit: contain;
            color: #444;
        }
    }
    &>.footer {
        padding: 7px 5px 5px 5px;
        display: flex;
        border: 0;
        box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    }
}

.summChamados {
    overflow: auto;
    max-height: 200px;
    &>p {
        font-size: 13px;
    }
}

.card_title {
    cursor: pointer;
    margin: 0;
}

.clienteCard {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 13px, rgba(0, 0, 0, 0.4) 0px 7px 8px;
    height: 100% !important;
    color: #EEE;
    &>.img {
        display: flex;
        justify-content: center;
        height: 100px;
        overflow: hidden;
        background-color: #EEE;
        cursor: pointer;
        &>img {
            padding: 20px;
            object-fit: contain;
            color: #444;
        }
    }
    &>.footer {
        padding: 7px 5px 5px 5px;
        display: flex;
        border: 0;
        box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    }
}

.footer {
    &_button:hover {
        box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    }
}

.lh {
    &_0 {
        line-height: 1.3em;
        text-transform: uppercase;
    }
}