.search {
    &_bar {
        width: 96%;
        height: 60px;
        background-color: #444;
        padding: 10px 15px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 9px 4px;
    }
    &_icon {
        color: #EEE;
        border-right: 0px;
        margin-right: -2px;
        margin-bottom: 1px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 5px inset, rgba(0, 0, 0, 0.23) 0px 2px 2px inset;
        transition: all .1s linear;
        cursor: pointer;
        &:active {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
            transition: all .05s linear;
        }
    }
    &_text {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 5px inset, rgba(0, 0, 0, 0.23) 0px 2px 2px inset;
        border: 0;
        width: 100%;
        color: white;
        transition: all .1s linear;
        padding: 6px 20px;
        background-color: transparent;
        &:focus-visible {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
            border: 0;
            outline: 0;
            transition: all .1s linear;
        }
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #CCC;
            opacity: 1;
            /* Firefox */
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #CCC;
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #CCC;
        }
    }
}

.card {
    &_chamados {
        &_table {
            table-layout: fixed;
        }
        &_id {
            width: 10px;
            overflow: hidden;
            padding: 4px;
            font-size: 13px;
            border-radius: 4px 0 0 4px;
        }
        &_title {
            max-width: 110px;
            overflow: hidden;
            padding-left: 4px;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 12px;
        }
        &_atribuida {
            padding-left: 10px;
            border-radius: 0 4px 4px 0;
            max-width: 10px;
            overflow: hidden;
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &_row {
            &:hover {
                background-color: #CCC;
                color: #444;
            }
        }
    }
    &_details {
        &_title {
            font-size: 20px;
            display: block;
        }
        &_subtitle {
            color: #DDD;
            font-size: 14px;
            display: block;
        }
        &_uri {
            color: #999;
            font-size: 13px;
            display: block;
        }
    }
    &_img {
        -webkit-background-clip: border-box;
        background-clip: border-box;
        background-color: #EEE;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 20px;
        &>img {
            object-fit: contain;
            color: #444;
            padding: 20px;
            max-height: 100px;
        }
    }
    &>.footer {
        padding: 7px 5px 5px 5px;
        display: flex;
        border: 0;
        box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    }
}

.summChamados {
    overflow: auto;
    max-height: 200px;
    &>p {
        font-size: 13px;
    }
}

.card_title {
    cursor: pointer;
    margin: 0;
}

.clienteCard {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 13px, rgba(0, 0, 0, 0.4) 0px 7px 8px;
    height: 100% !important;
    color: #EEE;
    &>.img {
        display: flex;
        justify-content: center;
        height: 100px;
        overflow: hidden;
        background-color: #EEE;
        cursor: pointer;
        &>img {
            padding: 20px;
            object-fit: contain;
            color: #444;
        }
    }
    &>.footer {
        padding: 7px 5px 5px 5px;
        display: flex;
        border: 0;
        box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    }
}

.footer {
    &_button:hover {
        box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    }
}

.lh {
    &_0 {
        line-height: 1.3em;
        text-transform: uppercase;
    }
}

.responsive_table {
    padding: 0;
    .table_body {
        height: 400px;
        overflow: auto;
    }
    li {
        border-radius: 3px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 13px;
        border: 1px solid #69767F;
    }
    .table_header {
        padding: 0;
        border: 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table_row {
        &:hover {
            background-color: #30353A;
        }
    }
    .col_1 {
        flex-basis: 6%;
    }
    .col_2 {
        flex-basis: 54%;
    }
    .col_3 {
        flex-basis: 25%;
    }
    .col_4 {
        flex-basis: 25%;
    }
    @media all and (max-width: 767px) {
        .table_header {
            display: none;
        }
        .table_row {}
        li {
            display: block;
        }
        .col {
            flex-basis: 100%;
        }
        .col {
            display: flex;
            padding: 5px 0;
            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}