#v-pills-tab {
    padding-right: 10px;
    padding-bottom: 10px;
    height: 100%;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-radius: 4px;
    width: 200px;
    min-width: 167px;
}

hr {
    border-color: #DDD !important
}

body {
    background-color: #333 !important;
}