#v-pills-tab {
    padding-right: 10px;
    padding-bottom: 10px;
    height: 100%;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-radius: 4px;
    width: 200px;
    min-width: 167px;
}

hr {
    border-color: #DDD !important
}

body {
    background-color: #333 !important;
    font-family: "Roboto", sans-serif !important;
}

.navTitle {
    color: white;
    font-weight: 600;
    cursor: default;
}

.navBarDash {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.container,
.container-xxl {
    max-width: 1920px !important;
}

.dashprogress {
    overflow: visible !important;
    background-color: #BBB !important;
    color: black !important;
    font-weight: 500 !important;
}

.dev {
    font-family: 'Consolas, monaco, monospace' !important;
}